@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<dl>
    <dt>Genre</dt>
    <dd>@Model.Genre.Name</dd>

    <dt>Release Date</dt>
    <dd>@Model.ReleaseDate.ToString("d")</dd>

    <dt>Date Added</dt>
    <dd>@Model.DateAdded.ToString("d")</dd>

    <dt>Number of Views</dt>
    <dd>@Model.NumberOfViews</dd>
</dl>

