@model Vidly.ViewModels.ViewerFormViewModel
@{
    if (Model.Customer.Id == 0)
    {
        ViewBag.Title = "New Viewer";
    }
    else
    {
        ViewBag.Title = "Edit Viewer";
    }
}

<h2 class="p-2">@ViewBag.Title</h2>

@using (Html.BeginForm("SaveViewer", "Viewers"))
{
    <div class="form-group p-2">
        @Html.LabelFor(x => x.Customer.Name)
        @Html.TextBoxFor(x => x.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Customer.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group p-2">
        @Html.LabelFor(x => x.Customer.MembershipTypeId)
        @Html.DropDownListFor(x => x.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Customer.MembershipTypeId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group p-2">
        @Html.LabelFor(x => x.Customer.Birthdate)
        @Html.TextBoxFor(x => x.Customer.Birthdate, new { @class = "form-control", placeholder = "mm/dd/yyy" })
        @Html.ValidationMessageFor(x => x.Customer.Birthdate, null, new { @class = "text-danger" })
    </div>
    <div class="checkbox p-2">
        @Html.CheckBoxFor(x => x.Customer.IsSubscribed, new { @class = "checkbox" }) Check to subscribe to newsletter
    </div>
    @Html.HiddenFor(x => x.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Save
    </button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}